@model IEnumerable<StudentWcfConsume.ServiceReference1.Student>

@{
    ViewBag.Title = "GetStudents";
}

<h2>GetStudents</h2>

<p>
    @Html.ActionLink("Create New", "CreateStudent",null, new { @class = "btn btn-success" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idstudent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.List) {
    <tr class="border-1 border-top-0 border-start-0 border-end-0 border-light" >
        <td>
            @item.cin
        </td>
        <td>
            @item.email
        </td>
        <td>
            @item.fil
        </td>
        <td>
            @item.first_name
        </td>
        <td>
            @item.idstudent
        </td>
        <td>
            @item.last_name
        </td>
        <td>
            @item.phone
        </td>
        <td class="d-flex flex-row flex-nowrap gap-2" >
                @Html.ActionLink("Update", "UpdateStudent", "Student", new { @item.cin }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Details", "GetStudent","Student", new { @item.cin }, new { @class = "btn btn-secondary" }) 
                @Html.ActionLink("Delete", "DeleteStudent", "Student", new { @item.cin }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete?');" })
        </td>
    </tr>
}

</table>
